<div class="container-fluid">
    <ng-template #readable let-utility="utility1">
        <td>
            <p>{{utility.name}}</p>
          </td>                      
            <td> <p>{{utility.quantity}}</p> </td>                      
            <td><p>{{utility.price}}</p></td>
            <td>{{utility.quantity * utility.price}}</td>    
    </ng-template>

    <ng-template #writabel let-utility="utility1">
        <td>
            <p contenteditable="true">{{utility.name}}</p>
          </td>                      
            <td contenteditable="true"> <p>{{utility.quantity}}</p> </td>                      
            <td contenteditable="true"><p>{{utility.price}}</p></td>
            <td>{{utility.quantity * utility.price}}</td>  
    </ng-template>
    
  <div class="card text-center">
    <div class="card-header">
      <span> Time Slot: </span>{{data.timeSlotDetails[0].timeSlotDescription}}
    </div>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label for="bookingName" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
          <div class="col-sm-10">
            <input [readonly]= "!isEditable" type="text" name="bookingName" [(ngModel)]="data.timeSlotDetails[0].bookingDetails.bookingName" class="form-control form-control-sm" id="bookingName" placeholder="customer name">            
          </div>
        </div>
        <div class="form-group row">
          <label for="bookingMobile" class="col-sm-2 col-form-label col-form-label-sm">Mobile</label>
          <div class="col-sm-10">
            <input type="text" [readonly]= "!isEditable" name="bookingMobile" [(ngModel)]="data.timeSlotDetails[0].bookingDetails.mobilenumber" class="form-control form-control-sm" id="bookingMobile" placeholder="mobile number">
          </div>
        </div>
        <div class="form-group row">

            
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Items</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let utility of data.timeSlotDetails[0].utilityInfoDetails; let i = index">
                    <td *ngIf="!isEditable">  <p>{{utility.utilityName}}</p></td>             
                    <td *ngIf="isEditable"> 
                      <ng-select [items]="utilityItem"
                        bindLabel="name"
                        name="{{i + 'nameDetails'}}"
                        placeholder="Select Utility Item"
                        [(ngModel)]="utility.utilityName">
                      </ng-select>
                      <!-- <input type="text" name="{{i + 'nameDetails'}}" [(ngModel)]="utility.utilityName">  -->
                    </td>    

                        <td *ngIf="!isEditable"> <p>{{utility.utilityQuantity}}</p> </td>                               
                        <td *ngIf="isEditable"> <input type="text" [(ngModel)]="utility.utilityQuantity"  name="{{i + 'quantityDetails'}}"> </td>   

                        <td *ngIf="!isEditable"><p>{{utility.utilityPrice}}</p></td>
                        <td *ngIf="isEditable"> <input type="text" [(ngModel)]="utility.utilityPrice"  name="{{i + 'priceDetails'}}"> </td>


                        <td>{{utility.utilityQuantity * utility.utilityPrice}}</td>                                                                                                                                              


                  </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group row" *ngIf="isEditable">
           <i class="fas fa-plus-circle"><a href="javascript:void(0)" (click)="onNewUtility()">Add</a></i>
        </div>
      </form>



    </div>
    <div class="card-footer text-muted">

        <div class="container">
            <div class="row">
              <div class="col-sm btn-link"  (click)="onEdit()">
                  <i class="far fa-edit"></i>
                  Edit
              </div>
              <div class="col-sm btn-link" (click)="onSave(data)">
                  <i class="far fa-save"></i>
                  Save
              </div>
              <div class="col-sm btn-link">
                  <i class="far fa-window-close"></i>
                  Cancel Booking
              </div>
            </div>
          </div>

      <!-- <button type="button" class="btn btn-sm btn-link" (click)="onEdit()">Edit</button> -->
     <!-- <button type="button" class="btn btn-sm btn-link ml-3" (click)="onSave(data)">Save</button> -->
    </div>
  </div>



  
</div>